<div class="collapse  navbar-collapse nav" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog:list' %}"> ????  </a>
    </li>
    {% for cat in category %}
      {% if cat.parent == None %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:category-list' cat.slug %}">{{cat.title}}</a>
          {% if cat.children.active %}
            {% include 'blog/partials/category_loop.html' %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
