{% extends 'blog/base.html' %}

{% block main %}

  <header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ object.title }}</h1>

            <time>{{ object.jpublish }}</time>
          </div>
        </div>
      </div>
    </div>
  </header>

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-justify">
          {{object.description|linebreaks}}
        </div>
      </div>
    </div>
  </article>

  <hr>

  {% endblock %}